.label-text {
  display: inline-block;
  color: rgb(var(--gray-1-color));
  margin-bottom: 3px;
}

.element {
  border-radius: 6px;
  border: 1px solid rgb(var(--gray-5-color));
  transition: border-color 0.2s;
  padding: 15px 18px;

  &--focus {
    border-color: rgb(var(--accent-color));
  }
}
