.button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: rgb(var(--accent-color));
  font-size: var(--p4-font-size);
  line-height: var(--p4-line-height);
  font-weight: 600;
  color: rgb(var(--white-color));
  border-radius: 8px;
  transition: all 0.2s;

  &:hover:not(&--disabled, &--loading) {
    opacity: 0.8;
  }

  &--secondary {
    color: rgb(var(--black-2-color));
    background-color: rgb(var(--gray-8-color));
  }

  &--disabled {
    color: rgb(var(--gray-3-color));
    background-color: rgb(var(--gray-5-color));
    cursor: default;
  }

  &--loading {
    cursor: default;
  }
}
