.button {
  height: 50px;
  background-color: var(--accent-color);
  font-size: var(--p4-font-size);
  line-height: var(--p4-line-height);
  font-weight: 600;
  color: var(--white-color);
  border-radius: 8px;
  text-align: center;

  &:hover:not(&--disabled, &--loading) {
    opacity: 0.8;
  }

  &--disabled {
    color: var(--gray-3-color);
    background-color: var(--gray-5-color);
    cursor: default;
  }

  &--loading {
    cursor: default;
  }
}