.h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: 700;
}

.h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 700;
}

.h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  font-weight: 700;
}

.h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  font-weight: 700;
}

.h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
  font-weight: 700;
}

.h6 {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
  font-weight: 700;
}

.p1, .p2, .p3, .p4, .p5, .p6 {
  &--weight-400 {
    font-weight: 400;
  }

  &--weight-500 {
    font-weight: 500;
  }

  &--weight-600 {
    font-weight: 600;
  }

  &--weight-700 {
    font-weight: 700;
  }
}

.p1 {
  font-size: var(--p1-font-size);
  line-height: var(--p1-line-height);
}

.p2 {
  font-size: var(--p2-font-size);
  line-height: var(--p2-line-height);
}

.p3 {
  font-size: var(--p3-font-size);
  line-height: var(--p3-line-height);
}

.p4 {
  font-size: var(--p4-font-size);
  line-height: var(--p4-line-height);
}

.p5 {
  font-size: var(--p5-font-size);
  line-height: var(--p5-line-height);
}

.p6 {
  font-size: var(--p6-font-size);
  line-height: var(--p6-line-height);
}
