@font-face {
  font-family: 'OpenSans';
  src: url('./OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./OpenSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./OpenSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./OpenSans-Bold.ttf');
  font-weight: 700;
}