.dashboard {
  width: var(--fixed-width);
  min-height: calc(100vh - var(--header-height));
  background-color: rgb(var(--gray-8-color));

  &__content {
    padding: 20px 10px 70px 10px;
  }

  &__credit-score-container {
    background-color: rgb(var(--white-color));
    border-radius: 5px;
    padding: 25px 18px 32px 18px;
  }

  &__credit-score {
    margin-top: 17px;

    &:first-of-type {
      margin-top: 11px;
    }
  }
}
