.text-area {
  &__label-text {
    color: rgb(var(--gray-1-color));
    margin-bottom: 3px;
  }

  &__field {
    height: 104px;
    font-size: var(--p3-font-size);
    line-height: var(--p3-line-height);
    color: rgb(var(--black-5-color));
    border: 1px solid rgb(var(--gray-5-color));
    border-radius: 6px;
    resize: none;
    transition: border-color 0.2s;
    padding: 16px 18px;

    &::placeholder {
      color: rgb(var(--gray-3-color));
    }
  
    &:focus {
      border-color: rgb(var(--gray-3-color));
    }
  }
}
