.identification {
  padding: 0 18px;

  &__title {
    margin-bottom: 9px;
  }

  &__field {
    width: 100%;
    margin-bottom: 6px;
  }

  &__main-button {
    width: 100%;
    margin-top: 27px;
  }
}
