.account {
  width: var(--fixed-width);
  background-color: rgb(var(--gray-8-color));
  padding: 20px 10px 42px 10px;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--white-color));
    border-radius: 5px;
    padding: 25px 0 50px 0;
  }

  &__heading {
    margin-left: 18px;
  }

  &__tabs-wrapper {
    border-bottom: 1px solid rgb(var(--gray-7-color));
    padding: 0 14px;
  }

  &__tab {
    padding: 7px 16px 18px 16px;

    &--active {
      border-bottom: 2px solid rgb(var(--accent-color));
      border-radius: 2px;
    }
  }

  &__tab-text {
    color: rgb(var(--gray-1-color));
    transition: color 0.2s;

    &--active {
      color: rgb(var(--accent-color));
    }
  }

  &__content-container {
    flex: 1;
  }
}
