.issue {
  &__heading-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__description {
    color: rgb(var(--gray-1-color));
    margin-top: 5px;
    margin-bottom: 15px;
  }

  &__button {
    width: 100%;
    height: 42px;
  }
}
