.credit-score {
  border-radius: 5px;
  border: 1px solid rgb(var(--gray-7-color));
  padding: 19px;
  padding-bottom: 22px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__report-button {
    width: 100%;
    height: 44px;
    margin-top: 15px;
  }

  &__progressbar {
    margin-top: 12px;
  }

  &__issue-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
  }

  &__issue-text {
    color: rgb(var(--gray-3-color));
    margin-left: 5px;

    &--warning {
      color: rgb(var(--orange-color));
    }
  }

  &__view-button {
    width: 100%;
    height: 44px;
    margin-top: 17px;
  }
}
