@import './assets/fonts/fonts.scss';
@import './reset.scss';

body {
  font-family: 'OpenSans', sans-serif;
  color: rgb(var(--black-1-color));
}

:root {
  --fixed-width: 500px;
  --header-height: 74px;
  --accent-color: 1, 178, 0;
  --primary-color: 35, 35, 55;
  --secondary-color: 191, 50, 44;
  --primary-gradient: linear-gradient(173.67deg, rgb(19, 94, 194) -7.95%, rgb(28, 81, 152) 120.2%);
  --secondary-gradient: linear-gradient(171.02deg, rgb(18, 26, 99) -0.75%, rgb(25, 27, 45) 122.4%);
  --pink-color: 236, 64, 122;
  --red-color: 239, 70, 70;
  --orange-color: 245, 127, 23;
  --yellow-color: 253, 216, 53;
  --green-color: 39, 174, 96;
  --green-light-color: 118, 255, 3;
  --cyan-color: 0, 151, 167;
  --cyan-light-color: 38, 198, 218;
  --blue-dark-color: 30, 136, 229;
  --blue-light-color: 66, 165, 245;
  --purple-color: 171, 71, 188;
  --purple-gradient: linear-gradient(169deg, rgb(162, 142, 207) -24.31%, rgb(111, 163, 209) 122.94%);
  --light-green-gradient: linear-gradient(165deg, rgb(221, 244, 195) -17.56%, rgb(158, 214, 201) 122.86%);
  --dark-green-gradient: linear-gradient(165deg, rgb(71, 250, 84) -17.56%, rgb(37, 215, 140) 122.86%);
  --cyan-gradient: linear-gradient(165deg, rgb(195, 243, 243) -17.56%, rgb(174, 216, 242) 122.86%);
  --dark-blue-gradient: linear-gradient(167deg, rgb(52, 117, 220) -19.41%, rgb(76, 255, 255) 123.66%);
  --orange-gradient: linear-gradient(137deg, rgb(190, 219, 85) -15.6%, rgb(255, 123, 66) 118.86%);
  --redpurple-gradient: linear-gradient(135deg, rgb(254, 88, 208) -25.5%, rgb(100, 98, 255) 125%);
  --black-rose-gradient: linear-gradient(169deg, rgb(242, 167, 241) -20.5%, rgb(209, 168, 244) 112.62%);
  --blue-gradient: linear-gradient(168deg, rgb(36, 120, 255) -16.32%, rgb(22, 160, 255) 115.8%);
  --light-blue-gradient: linear-gradient(169deg, rgb(37, 197, 255) -17.93%, rgb(40, 233, 255) 121.82%);
  --light-purple-gradient: linear-gradient(347deg, rgb(121, 77, 255) -21.25%, rgb(96, 103, 255) 121.26%);
  --black-color: 0, 0, 0;
  --black-1-color: 21, 21, 21;
  --black-2-color: 41, 41, 43;
  --black-3-color: 59, 59, 62;
  --black-4-color: 78, 81, 83;
  --gray-1-color: 111, 111, 117;
  --gray-2-color: 144, 144, 157;
  --gray-3-color: 182, 182, 196;
  --gray-4-color: 210, 210, 225;
  --gray-5-color: 229, 229, 235;
  --gray-6-color: 239, 239, 239;
  --gray-7-color: 242, 242, 242;
  --gray-8-color: 248, 248, 248;
  --gray-9-color: 205, 205, 205;
  --white-color: 255, 255, 255;
  --h1-font-size: 34px;
  --h1-line-height: 56px;
  --h2-font-size: 30px;
  --h2-line-height: 48px;
  --h3-font-size: 26px;
  --h3-line-height: 44px;
  --h4-font-size: 20px;
  --h4-line-height: 38px;
  --h5-font-size: 18px;
  --h5-line-height: 34px;
  --h6-font-size: 16px;
  --h6-line-height: 30px;
  --p1-font-size: 15px;
  --p1-line-height: 26px;
  --p2-font-size: 14px;
  --p2-line-height: 24px;
  --p3-font-size: 13px;
  --p3-line-height: 22px;
  --p4-font-size: 12px;
  --p4-line-height: 20px;
  --p5-font-size: 11px;
  --p5-line-height: 18px;
  --p6-font-size: 10px;
  --p6-line-height: 16px;
}
