@import './assets/fonts/fonts.scss';
@import './reset.scss';

body {
  font-family: 'OpenSans', sans-serif;
  color: var(--black-1-color);
}

:root {
  --accent-color: #01B200;
  --primary-color: #232337;
  --secondary-color: #BF322C;
  --primary-gradient: linear-gradient(174deg, #135EC2 -7.95%, #1C5198 120.2%);
  --secondary-gradient: linear-gradient(171deg, #121A63 -0.75%, #191B2D 122.4%);
  --pink-color: #EC407A;
  --red-color: #EF4646;
  --orange-color: #F57F17;
  --yellow-color: #FDD835;
  --green-color: #27AE60;
  --green-light-color: #76FF03;
  --cyan-color: #0097A7;
  --cyan-light-color: #26C6DA;
  --blue-dark-color: #1E88E5;
  --blue-light-color: #42A5F5;
  --purple-color: #AB47BC;
  --purple-gradient: linear-gradient(169deg, #6367C8 -24.31%, #944DD7 122.94%);
  --light-green-gradient: linear-gradient(165deg, #D4FC79 -17.56%, #96E6A1 122.86%);
  --dark-green-gradient: linear-gradient(165deg, #00BF57 -17.56%, #005F91 122.86%);
  --cyan-gradient: linear-gradient(165deg, #84FAB0 -17.56%, #8FD3F4 122.86%);
  --dark-blue-gradient: linear-gradient(167deg, #872DE0 -19.41%, #2A0FD1 123.66%);
  --orange-gradient: linear-gradient(137deg, #ECD92F -15.6%, #EC2F46 118.86%);
  --redpurple-gradient: linear-gradient(135deg, #FA4747 -25.5%, #E21CF3 125%);
  --black-rose-gradient: linear-gradient(169deg, #F4C4F3 -20.5%, #FC67FA 112.62%);
  --blue-gradient: linear-gradient(168deg, #457FCA -16.32%, #5691C8 115.8%);
  --light-blue-gradient: linear-gradient(169deg, #4B76F4 -17.93%, #1433EE 121.82%);
  --light-purple-gradient: linear-gradient(347deg, #834D9B -21.25%, #D04ED6 121.26%);
  --black-color: #000000;
  --black-1-color: #151515;
  --black-2-color: #29292B;
  --black-3-color: #3B3B3E;
  --black-4-color: #4E5153;
  --gray-1-color: #6F6F75;
  --gray-2-color: #90909D;
  --gray-3-color: #B6B6C4;
  --gray-4-color: #D2D2E1;
  --gray-5-color: #E5E5EB;
  --gray-6-color: #EFEFEF;
  --gray-7-color: #F2F2F2;
  --gray-8-color: #F8F8F8;
  --white-color: #FFFFFF;
  --h1-font-size: 34px;
  --h1-line-height: 56px;
  --h2-font-size: 30px;
  --h2-line-height: 48px;
  --h3-font-size: 26px;
  --h3-line-height: 44px;
  --h4-font-size: 20px;
  --h4-line-height: 38px;
  --h5-font-size: 18px;
  --h5-line-height: 34px;
  --h6-font-size: 16px;
  --h6-line-height: 30px;
  --p1-font-size: 15px;
  --p1-line-height: 26px;
  --p2-font-size: 14px;
  --p2-line-height: 24px;
  --p3-font-size: 13px;
  --p3-line-height: 22px;
  --p4-font-size: 12px;
  --p4-line-height: 20px;
  --p5-font-size: 11px;
  --p5-line-height: 18px;
  --p6-font-size: 10px;
  --p6-line-height: 16px;
}
